<% layout('layouts/boilerplate') %>

<div class="container">
    <h1>All Projects</h1>

    <% for (let project of projects) { %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <!-- Your project image or placeholder -->
                    <img class="img-fluid" alt="Project Image" src="<%= project.images.length ? project.images[0].url : 'placeholder.jpg' %>">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= project.title %> </h5>
                        <p class="card-text"><%= project.description %></p>
                        <p class="card-text">
                            <small class="text-muted"><%= project.location %></small>
                        </p>
                        <a class="btn btn-primary" href="/projects/<%= project._id %>">View <%= project.title %></a>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
</div>

<script>
    const projects = <%= JSON.stringify(projects) %>;
    console.log("Projects in script:", projects);

</script>

